html{
    margin: 0;
    height: 100%;
}

#topline{
    background-color: #f66502;
    padding: 2px;

}

h1{
    font-weight: normal;
    font-size: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    display:block;
    height:100%;
    margin: 8px;
    padding:0;
 
}

#title{
    font-weight: bold;
}


#chart{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;

}

.ele{
    grid-column: 1/4;
    display:inline-grid;
    grid-template-columns: 15px 15px 1fr;
}

.small-info{
    font-size: 8px;
    grid-column: 3;
    padding-left: 5px;
    color:#959594
}

.content{
    padding: 5px;
    
    grid-column: 3;
   
}
.numbers{
    padding: 5px;
    grid-column: 1;
    color: #828282;
    
}
.gray-arrow{
    padding: 5px;
    grid-column:2;
}

#box{
    display: block;
    width: 85%;
    margin:auto;
    height: 100%;
    background-color: #f6f6ef;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    min-width: 796px;
    
    
}

#one{
    grid-row: 1;
}

#two{
    grid-row: 2;

}

#three{
    grid-row: 3;

}

#four{
    grid-row: 4;

}

#five{
    grid-row: 5;

}